extends layout

block content
    button.editbutton Edit
    h1.dreamtitle #{dream.title}
    p #{dream.content}

    div.linksdiv
        a(href="/dreams/" + dream.id + "/update") Update
        a(href="/dreams/" + dream.id + "/delete") Delete