doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.navbar
      ul
        li My Account
        li Dreams
        li About
    block content

    
