extends layout

block content
    form.userform(method='POST')
        div.formgroup
            label(for='username') Username:
            input#usernameinput.form_control(name='username' type='text' placeholder= 'Username' required='true')
            label(for='password') Password:
            input#passwordinput.form_control(name='password' type='password' placeholder= 'Password' required='true')

            button.btn-primary(type='submit') Create