body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar{
  background-color: black;
}

.navbar > ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
  
}

.navbar > ul > li{
  padding: 1em;
}

.editbutton{
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  float: right;
}

